aiofiles==23.2.1
aiohappyeyeballs==2.4.3
aiohttp==3.10.8
aiosignal==1.3.1
aiosmtplib==2.0.2
alembic==1.13.3
annotated-types==0.7.0
anthropic==0.45.2
anyio==4.6.0
asttokens==2.4.1
attrs==24.2.0
bcrypt==4.2.0
blinker==1.8.2
boto3==1.35.76
botocore==1.35.76
build==1.2.2
cachetools==5.5.1
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
cohere==5.13.12
colorama==0.4.6
Deprecated==1.2.18
deprecation==2.1.0
devtools==0.12.2
distro==1.9.0
dnspython==2.6.1
ecdsa==0.19.0
email_validator==2.2.0
eval_type_backport==0.2.2
executing==2.2.0
fastapi==0.115.0
fastapi-mail==1.4.1
fastavro==1.10.0
filelock==3.17.0
frozenlist==1.4.1
fsspec==2025.2.0
google-auth==2.38.0
googleapis-common-protos==1.66.0
gotrue==2.9.1
greenlet==3.1.1
griffe==1.5.7
groq==0.18.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.6
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.28.1
hyperframe==6.0.1
idna==3.10
importlib_metadata==8.5.0
iniconfig==2.0.0
Jinja2==3.1.4
jiter==0.5.0
jmespath==1.0.1
jsonpath-python==1.0.6
logfire==3.5.3
logfire-api==3.5.3
Mako==1.3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mistralai==1.5.0
multidict==6.1.0
mypy-extensions==1.0.0
openai==1.61.1
opentelemetry-api==1.30.0
opentelemetry-exporter-otlp-proto-common==1.30.0
opentelemetry-exporter-otlp-proto-http==1.30.0
opentelemetry-instrumentation==0.51b0
opentelemetry-proto==1.30.0
opentelemetry-sdk==1.30.0
opentelemetry-semantic-conventions==0.51b0
packaging==24.1
passlib==1.7.4
pip-tools==7.4.1
pluggy==1.5.0
postgrest==0.17.0
protobuf==5.29.3
psycopg2-binary==2.9.9
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.6
pydantic-ai==0.0.23
pydantic-ai-slim==0.0.23
pydantic-graph==0.0.23
pydantic-settings==2.6.0
pydantic_core==2.27.2
Pygments==2.19.1
pyproject_hooks==1.2.0
pytest==8.3.3
pytest-asyncio==0.24.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jose==3.3.0
python-multipart==0.0.12
PyYAML==6.0.2
realtime==2.0.5
requests==2.32.3
resend==2.4.0
rich==13.9.4
rsa==4.9
s3transfer==0.10.4
setuptools==75.8.0
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.35
sqlmodel==0.0.22
starlette==0.38.6
storage3==0.8.0
StrEnum==0.4.15
stripe==11.1.0
supabase==2.8.1
supafunc==0.6.0
tokenizers==0.21.0
tqdm==4.66.5
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing_extensions==4.12.2
urllib3==2.2.3
uvicorn==0.31.0
websockets==13.1
wheel==0.45.1
wrapt==1.17.2
yarl==1.13.1
zipp==3.21.0
